html, body, #root {
    height: 100%;
    margin: 0px;
}

.margin24dpTop {
    margin-top: 24px;
}

.margin24dpBottom {
    margin-bottom: 24px;
}

.margin24dpLeft {
    margin-left: 24px;
}

.margin24dpRight {
    margin-right: 24px;
}

.material-icons {
    color: rgba(0,0,0,0.7) !important;
}